.place__website_link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .place__website_link {
    opacity: 1;
  }

  .place__website_link:hover {
    opacity: 0.8;
  }
}
