.intro__text {
  font-size: 16px;
  line-height: 163%;
  color: #fff;
  margin: 40px 0 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .intro__text {
    width: 690px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .intro__text {
    width: 720px;
  }
}
